.logo {
    width: 500px;
    height: 200px;
    padding-top: 100px;
}

.bacasime-antique-regular {
    font-family: "Bacasime Antique", serif;
    font-weight: 400px;
    font-style: normal;
  }

body {
    background-image: url(background.jpg);
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

footer {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
}

button {
    height: 150px;
    justify-content: center;
    margin-right: 40px;
    padding-bottom: 50px;
    padding-top: 10px;
    margin-top: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 1em;
}

.inline-links a {
    display: inline-block;
    margin-right: 10px;
}


img {
    height: 200px;
}



footer {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
}

a {
    color: rgb(169, 0, 184); 
    text-decoration: none;
    font-size: 30px;

}

.img-flecha {
    position: absolute;
    top: 0;
    left: 0;
}

.blurred-container {
    background: rgba(0, 0, 0, 0.625); /* Fondo semi-transparente */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    border-radius: 15px; /* Bordes redondeados */
    padding: 20px;
    max-width: 700px;
    text-align: center;
    color: #c9c9c9; /* Color del texto */
    font-size: 20px;
}

.blurred-container h1 {
    margin: 0;
    font-size: 1.8em;
}

.blurred-container p {
    font-size: 1em;
}

